# Python cache/bytecode files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.env/
.venv/
env/
venv/

# Model checkpoints, cache (optional)
*.pt
*.ckpt

# Jupyter/IPython (optional)
.ipynb_checkpoints

# VSCode (optional)
.vscode/

# Mac system files
.DS_Store